body {
    background-color: #F8F9FA;
    color: #222;
}

header,
footer {
    background-color: #111111;
    color: white;
}

nav {
    background-color: #D72638;
}

.feature {
    background-color: white;
}